@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800;900&display=swap");

:root {
  --Nunito: "Nunito", sans-serif;
}

header {
  background-color: #1f2833;
}

header nav button i {
  color: white;
}

header nav ul a {
  color: white;
}

body {
  background-color: #1f2833;
}

/* Section -1 */

.section-1 .row .featured-1 {
  font-size: 3vmin;
  font-family: var(--Nunito);
  text-transform: uppercase;
}

.section-1 .featured-2 p {
  color: white;
  text-transform: uppercase;
  transform: rotate(-90deg);
  letter-spacing: 8px;
  font-family: var(--Nunito);
  font-size: 1.5vmin;
  font-weight: 900;
}

.section-1 .cards .card:hover {
  transform: scale(1.05);
  /* zoom: 150%; */
  overflow: hidden;
}

.section-1 .cards .card {
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 10%;
}

.section-1 .cards .card-title {
  font-weight: bold;
  font-family: var(--Nunito);
}

.section-1 .cards .card .card-img-top {
  padding: 10%;
}

.section-1 .container-fluid .row .cards .card-1 {
  background-color: rgb(169, 209, 247);
}

.section-1 .container-fluid .row .cards .card-2 {
  background-color: rgba(255, 255, 255, 0.9);
}

.section-1 .container-fluid .row .cards .card-3 {
  background-color: #f1d185;
}

.section-1 .container-fluid .row .cards .card-4 {
  background-color: rgb(173, 226, 137);
}

.section-1 .container-fluid .row .cards .card-5 {
  background-color: rgba(152, 238, 249, 1);
}

/* Section - 2 */
/* .section-2{
  
} */

.section-2 .latest-posts-1 {
  font-size: 3vmin;
  font-family: var(--Nunito);
  text-transform: uppercase;
}

.section-2 .latest-posts-2 p {
  color: white;
  text-transform: uppercase;
  transform: rotate(-90deg);
  letter-spacing: 8px;
  font-family: var(--Nunito);
  font-size: 1.5vmin;
  font-weight: 900;
}

.section-2 .latest-post-image img {
  width: 100%;
  border-radius: 10%;
}

.section-2 .latest-post-content .latest-heading {
  color: white;
  font-family: var(--Nunito);
  font-weight: bold;
}

.section-2 .latest-post-content .latest-body {
  color: white;
  font-family: var(--Nunito);
}

.section-2 .latest-post-content .author {
  font-family: var(--Nunito);
  color: white;
}

.section-2 .latest-post-content .author-details {
  font-family: var(--Nunito);
  color: white;
}

.section-2 .latest-post-content .author-name {
  font-weight: bold;
}

.section-2 .latest-post-content .author-date {
  font-size: 0.8rem;
}

.section-2 .latest-post-content .author-image > img {
  width: 60px;
  border: 2px solid #1f2833;
  border-radius: 100%;
}

/* Section - 3 */

.section-3 .container .cards {
  margin-top: 1.5vmin;
}

.section-3 .container .cards .card {
  border: none;
  border-radius: 10%;
}

.section-3 .container .cards .card .card-body {
  /* min-height: 100px; */
}

.section-3 .container .cards .card-img-sec-3 {
  /* max-height: 250px; */
  /* width: auto; */
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  /* max-width: ; */
}

@media only screen and (max-width: 576px) {
  .section-3 .container .cards .card-img-sec-3 {
    /* max-width: 100%; */
    /* max-height: 100px; */
  }
}

@media only screen and (max-width: 768px) {
  .section-3 .container .cards .more-blogs-img-5 {
    max-height: 250px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .section-3 .container .cards .more-blogs-img-4 {
    max-height: 175px;
  }
  .section-3 .container .cards .more-blogs-img-5 {
    max-height: 175px;
  }
}

@media only screen and (min-width: 992px) {
  .section-3 .container .cards .more-blogs-img-4 {
    max-height: 225px;
  }
  .section-3 .container .cards .more-blogs-img-5 {
    max-height: 225px;
  }
}

/* .section-3 .container .cards .card-body {
  min-height: 30vmin;
} */

.section-3 .cards .card-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.section-3 .cards .card {
  font-family: var(--Nunito);
}

/* Footer */

footer {
  color: white;
  text-align: center;
  font-size: 5vmin;
}
