@media only screen and (max-width: 768px) {
    .section-1 {
        padding-bottom: 20vmin;
        background: url(../assets/Group-2.png);
        background-size: cover;
        background-size: 50%;
        /* background-size: 50%; */
        background-repeat: no-repeat;
        background-position:right;}
}