@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Raleway:wght@300;400;500;600;700;800&display=swap');


:root {
  --Raleway: "Raleway";
  --Montserrat:"Montserrat";
  /* --linear-gradient:linear-gradient(#e5c59f,#faf4ed); */
}

*{
  overflow-x:hidden;
  font-family: var(--Raleway);
}

header {
  background-color: #333333;
}
/* Header */
header .navbar .collapse .navbar-nav .nav-item a {
  color: white;
  text-decoration: none;
}

header .navbar .navbar-brand {
  text-decoration: none;
  color: white;
}

header .navbar button i {
  color: white;
}
body {
  background-color: #e5c59f;
}

.section-heading{
    font-weight: bold;
}
/* Section -1 */

.section-1 .row .intro {
  align-content: center;

}
.section-1 .row .intro .heading {
  font-weight: 800;
  color: #51192c;
}
.section-1 .row .intro .date {
  color: #51192c;
}

.image-head{
  width: 50vmin;
  height: auto;
}

.section-1 a{
  text-decoration:none
}

.section-1 a:link{
  color: #333333;
}

.section-1 a:visited{
  color: black;
}
/* Section -3 */


.event-overview{
  background-color: #333333;
  color: whitesmoke;
  border-color: #51192c;
  border-radius: 10px;
  border-style: solid;
  border-width: 6px;
}

.section-3 .date{
  color: #f2c834;
}


.trophy{
  width: 15vmin;
  height: auto;
}

.trophy-title{
  font-weight: bold;
}

.e-certificate{
  border-style:dotted;
}


.form-link{
  
  border-radius: 50px;
  border-style: solid;
  border-color: #51192c;
  border-width: 2vmin;

  background-color: #51192c;
  font-weight: bold;
  color: whitesmoke;

  /* background-color: #51192c; */
}

.section-6 a{
  text-decoration:none
}

.section-6 a:link{
  color: #333333;
}

.section-6 a:visited{
  color: black;
}

.section-7 ol{
  list-style:decimal !important;
}